<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADM</title>
</head>
<body>
    <label>
        <a href="/ver_carros">Ver carros reservados</a><br><br>
        <a href="/incluir_usuarios">Incluir suarios</a><br><br>
        <a href="/excluir_usuarios">Excluir usuarios</a><br><br>
        <a href="/incluir_anuncios">Incluir anuncios</a><br><br>
        <a href="/excluir_anuncios">Excluir anuncios</a><br><br>
        <a href="/>editar _Top10">Editar TOP10</a><br><br>

    </label>
</body>
</html>