<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADM</title>
</head>
<body>
    <label>
        <a href="/reservar_carros">Reservar carros</a><br><br>
        <a href="/ver_carros">Ver carros reservados</a><br><br>
        <a href="/usuario_incluir">Incluir usuarios</a><br><br>
        <a href="/usuario_excluir">Excluir usuarios</a><br><br>
        <a href="/anuncio_incluir">Incluir anuncios</a><br><br>
        <a href="/anuncio_excluir">Excluir anuncios</a><br><br>
        <a href="/>editar _top10">Editar TOP10</a><br><br>

    </label>
</body>
</html>