<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Criar anuncio</h1>
<form action="/anuncio_incluirr" method="post">
    Carro: <input type="text" name="carro"><br>
    Cor:   <input type="text" name="cor"><br>
    Placa: <input type="text" name="placa"><br>
    Ano:   <input type="text" name="ano"><br>
    Preco: <input type="text" name="preco"><br>
    Marca: <input type="text" name="marca"><br>
    {%if foi%}
        <span style="color:pink">{{foi}}</span>
    {%endif%}
    <input type="submit" value="Cadastrar">
</form><br>
<form action="/adm">
        <input type="submit" value="Voltar"><br>
    </form>
</body>
</html>