<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>

    <title>CONCESSIONÁRIA</title>
</head>
  <style>
    #login {
        color:white;
    }
    #buscar {
        color:white;
    }
</style>
<body background="http://getwallpapers.com/wallpaper/full/f/d/7/60132.jpg">
    <form id="login", method="post", action="/adm">
        <label>
            login:
        </label>
        <input type="text" name="login"><br><br>
        <label>
            senha:
        </label>
        <input type="password" name="senha"><br><br>
        <input type="submit" name="botaologin" value="entrar">
    </form>

    <form id="buscar", method="post", action="/busca">
        Buscar <input type="text" name="bia"> <br><br>
        <input type="submit" value="Buscar">
    </form>


</body>
</html>
